{{ form_start(form, {attr: {class: 'stacked'}}) }}

<div class="grid">


    {{ form_row(form.email) }}

    {{ form_row(form.azureId) }}

    {{ form_row(form.roles) }}

    <div class="full">
        <button type="submit" class="btn-gradient">{{ label }}</button>
    </div>
</div>

{{ form_end(form) }}