{% extends 'admin/layout/card.html.twig' %}

{% block title %}Users{% endblock %}
{% block cardTitle %}
    {{ icon('lines') }}
    Users
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="dashboard-id">
                    {{ user.id }}
                </td>
                <td class="dashboard-id">
                    {{ user.email }}
                </td>
                <td class="dashboard-id">{{ user.roles|first }}</td>
                <td>
                    <div class="dashboard-actions">
                        <a href="{{ path('admin_users_login_as', {id: user.id}) }}">{{ icon('eye') }}</a>

                        <a href="{{ path('admin_users_edit', {id: user.id}) }}">{{ icon('edit') }}</a>

                        <form action="{{ path('admin_users_delete', {id: user.id}) }}" method="post"
                              onsubmit="return confirm('Do you really want to remove this user?')">
                            <button type="submit">
                                {{ icon('delete') }}
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(users) }}
{% endblock %}
