{% extends 'admin.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header">Users</div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col" class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles|first }}</td>
                        <td class="text-right">
                            <a class="btn btn-outline-secondary" href="{{ url('admin_users_edit', {id: user.id}) }}">
                                <img src="{{ asset('svg/pencil.svg') }}" alt="">
                            </a>
                            <a class="btn btn-outline-danger" href="{{ url('admin_users_delete', {id: user.id}) }}">
                                <img src="{{ asset('svg/trash.svg') }}" alt="">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
