<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Infinity News Admin | {% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    {{ encore_entry_link_tags('admin') }}
    {% block stylesheets %}{% endblock %}


</head>

<body class="admin theme-light">
<div class="dashboard-page">
    <aside class="dashboard-sidebar">
        <div class="dashboard-sidebar__wrapper">
            <ul class="dashboard-sidebar__main">
                <li>
                    <a href="" {{ menu_active('home') }}>{{ icon('home') }} Dashboard</a>
                </li>

                <li class="title">Associations</li>
                <li>
                    <a href="" {{ menu_active('associations') }}>{{ icon('lines') }}Associations</a>
                </li>
                <li>
                    <a href="" {{ menu_active('members') }}>{{ icon('user') }}Members</a>
                </li>

                <li class="title">Core</li>
                <li>
                    <a href="" {{ menu_active('users') }}>{{ icon('user') }}Users</a>
                </li>

                <li>
                    <a href="" {{ menu_active('webhooks') }}>{{ icon('user') }}Webhooks</a>
                </li>
            </ul>
        </div>
    </aside>
    <aside class="dashboard-topbar">
        <div class="dashboard-topbar__search">
            {% if searchable is defined and searchable %}
                <form>
                    <input name="q" type="text" placeholder="Search" value="{{ app.request.get('q') }}">
                </form>
            {% endif %}
        </div>
        <ul class="dashboard-topbar__nav">
            <li class="dashboard-logout">
                {{ app.user.email }}
                <a href="/" style="margin-left: 8px;">
                    {{ icon('logout') }}
                </a>
            </li>
        </ul>
    </aside>
    <main class="dashboard-body">
        {% include 'admin/partials/flash.html.twig' with {floating: true, duration: 3} %}
        {% block body '' %}
    </main>
</div>


{{ encore_entry_script_tags('admin') }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"
        integrity="sha512-G3jAqT2eM4MMkLMyQR5YBhvN5/Da3IG6kqgYqU9zlIH4+2a+GuMdLb5Kpxy6ItMdCfgaKlo2XFhI0dHtMJjoRw=="
        crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>