{% extends 'admin/layout/card.html.twig' %}

{% block title %}Newsgroups{% endblock %}
{% block cardTitle %}
    {{ icon('lines') }}
    Associations
{% endblock %}

{% block actions %}
    <a href="{{ path('admin_associations_new') }}" class="btn-primary">Create</a>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for asso in associations %}
            <tr>
                <td class="dashboard-id">
                    {{ asso.id }}
                </td>
                <td class="dashboard-id">
                    {{ asso.name }}
                </td>
                <td>
                    {{ asso.email }}
                </td>
                <td>
                    <div class="dashboard-actions">
                        <a href="{{ path('admin_associations_edit', {id: asso.id}) }}">{{ icon('edit') }}</a>
                        
                        <form action="{{ path('admin_associations_delete', {id: asso.id}) }}" method="post"
                              onsubmit="return confirm('Do you really want to remove this association?')">
                            <button type="submit">
                                {{ icon('delete') }}
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(associations) }}
{% endblock %}

