{% extends 'admin.html.twig' %}

{% block title %}Webhooks{% endblock %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header d-flex justify-content-between">
            Webhooks

            <a class="btn btn-primary" href="{{ url('admin_webhooks_new') }}">
                New
            </a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for webhook in webhooks %}
                    <tr>
                        <th scope="row">{{ webhook.id }}</th>
                        <td>{{ webhook.name }}</td>
                        <td class="text-right">
                            <a class="btn btn-outline-secondary" href="{{ url('admin_webhooks_edit', {id: webhook.id}) }}">
                                <img src="{{ asset('svg/pencil.svg') }}" alt="">
                            </a>

                            <a class="btn btn-outline-danger"
                               href="{{ url('admin_webhooks_delete', {id: webhook.id}) }}">
                                <img src="{{ asset('svg/trash.svg') }}" alt="">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
