{% extends 'admin/layout/card.html.twig' %}

{% block title %}Webhooks{% endblock %}
{% block cardTitle %}
    {{ icon('lines') }}
    Webhooks
{% endblock %}

{% block actions %}
    <a href="{{ path('admin_webhooks_new') }}" class="btn-primary">Create</a>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URL</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for webhook in webhooks %}
            <tr>
                <td class="dashboard-id">
                    {{ webhook.id }}
                </td>
                <td class="dashboard-id">
                    {{ webhook.name }}
                </td>
                <td>
                    {{ webhook.url|slice(0,52) }}...
                </td>
                <td>
                    <div class="dashboard-actions">
                        <a href="{{ path('admin_webhooks_edit', {id: webhook.id}) }}">{{ icon('edit') }}</a>

                        <form action="{{ path('admin_webhooks_delete', {id: webhook.id}) }}" method="post"
                              onsubmit="return confirm('Do you really want to remove this webhooks?')">
                            <button type="submit">
                                {{ icon('delete') }}
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(webhooks) }}
{% endblock %}