{#{% extends 'admin.html.twig' %}

{% block title %}Webhooks{% endblock %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header d-flex justify-content-between">
            Association Members

            <a class="btn btn-primary" href="{{ url('admin_association_members_new') }}">
                New
            </a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">Association</th>
                    <th scope="col" class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for associationMember in associationMembers %}
                    <tr>
                        <th scope="row">{{ associationMember.id }}</th>
                        <td>{{ associationMember.user.email }}</td>
                        <td>{{ associationMember.association.name }}</td>
                        <td class="text-right">
                            <a class="btn btn-outline-secondary"
                               href="{{ url('admin_association_members_edit', {id: associationMember.id}) }}">
                                <img src="{{ asset('svg/pencil.svg') }}" alt="">
                            </a>

                            <a class="btn btn-outline-danger"
                               href="{{ url('admin_association_members_delete', {id: associationMember.id}) }}">
                                <img src="{{ asset('svg/trash.svg') }}" alt="">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
#}

{% extends 'admin/layout/card.html.twig' %}

{% block title %}Association Members{% endblock %}
{% block cardTitle %}
    {{ icon('user') }}
    Association Members
{% endblock %}

{% block actions %}
    <a href="{{ path('admin_association_members_new') }}" class="btn-primary">Create</a>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Member</th>
            <th>Association</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for member in associationMembers %}
            <tr>
                <td class="dashboard-id">
                    {{ member.id }}
                </td>
                <td class="dashboard-id">
                    {{ member.user }}
                </td>
                <td>
                    {{ member.association }}
                </td>
                <td>
                    <div class="dashboard-actions">
                        <a href="{{ path('admin_association_members_edit', {id: member.id}) }}">{{ icon('edit') }}</a>

                        <form action="{{ path('admin_association_members_delete', {id: member.id}) }}" method="post"
                              onsubmit="return confirm('Do you really want to remove this link?')">
                            <button type="submit">
                                {{ icon('delete') }}
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(associationMembers) }}
{% endblock %}
